@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
  }
  
  body {
    background-color: #07090e;
    color: #f3f4f6;
  }
}

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #090b14;
}
::-webkit-scrollbar-thumb {
  background: #1f293d;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2b3952;
}
